/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #021838;
  background-image: url(/img/xapp-banner-design.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;

  input {
    padding: 10px;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 80%;
    box-sizing: border-box;
    margin: 5px 0;
  }
}
